body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  header {
    background-color: #f0f0f0;
    padding: 10px 0;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  .header h1 {
    font-size: 36px;
    font-family: 'Brush Script MT', cursive;
    color: #3e3131;
    margin: 0;
    background: linear-gradient(to right, #782c2f, #b01b80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fadeIn 1s ease-in-out;
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .header h1:hover {
    transform: scale(1.1);
   
    color: #ff6347;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  nav ul li {
    margin-right: 20px;
  }
  nav ul li a {
    color: #000000;
    text-decoration: none;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 22px;
    transition: color 0.3s ease;
  }
  nav ul li a:hover {
    color: #ff6347;
  }
  .about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 550px;
    padding: 20px;
    background-color: #f0f0f0;
  }
  .about-content {
    display: flex;
    width: 100%;
  }
  .about-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
    text-align: center;
  }
  .about-info h2 {
    font-size: 40px;
    color: #333333;
    margin-bottom: 13px;
    font-family: 'Courier New', monospace;
  }
  .about-info p {
    font-size: 25px;
    color: #666666;
    margin-bottom: 10px;
    font-family: Garamond, serif;
  }
  .about-info .button {
    display: inline-block;
    padding: 15px 25px;
    margin: 10px;
    border: 2px solid #3498db;
    border-radius: 50px;
    background-color: #3498db;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .about-info .button:hover {
    background-color: #ffffff;
    color: #3498db;
  }
  .about-info a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
    transition: color 0.3s ease;
  }
  .about-info a:hover {
    color: #ff6347;
  }
  .about-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-image img {
    max-width: 60%; 
    height: auto;
    border-radius: 50%;
    animation: float 3s ease-in-out infinite;
  }
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  .social-icons {
    margin-bottom: 20px;
  }
  .social-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #f7f7f7;
    color: #000000;
    text-align: center;
    margin: 0 10px;
    font-size: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .social-icon:hover {
    background-color: #ffffff;
    color: #3498db;
    border: 2px solid #3498db;
  }
  .skills {
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f0f0f0;
    text-align: center;
  }
  .skills h2 {
    font-size: 40px;
    color: #333;
    margin-bottom: 30px;
    position: relative;
  }
  .skills h2::after {
    content: '';
    display: block;
    width: 80px;
    height: 4px;
    background-color: #3498db;
    margin: 10px auto 0;
  }
  .skills-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
  }
  .skills-category {
    width: calc(25% - 20px);
    margin-bottom: 20px;
    text-align: left;
  }
  .skills-category h3 {
    font-size: 25px;
    color: #333;
    margin-bottom: 20px;
  }
  .skill {
    margin-bottom: 10px;
  }
  .skill h4 {
    font-size:15px;
    color: #555;
    margin-bottom: 5px;
  }
  .skill-bar {
    position: relative;
    width: 100%;
    height: 20px; 
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
  }
  .skill-level {
    height: 100%;
    color: #fff;
    background-color: #3498db;
    border-radius: 10px;
    position: relative;
    animation: grow 2s ease-in-out;
  }
  .skill-level::after {
    content: attr(data-level); 
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    line-height: 20px;
    font-size: 14px;
    color: #fff;
    display: block;
  }
  @keyframes grow {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  