body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  header {
    background-color: #f0f0f0;
    padding: 10px 0;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  .header h1 {
    font-size: 36px;
    font-family: 'Brush Script MT', cursive;
    color: #3e3131;
    margin: 0;
    background: linear-gradient(to right, #782c2f, #b01b80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fadeIn 1s ease-in-out;
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .header h1:hover {
    transform: scale(1.1);
   
    color: #ff6347;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  nav ul li {
    margin-right: 20px;
  }
  nav ul li a {
    color: #000000;
    text-decoration: none;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 22px;
    transition: color 0.3s ease;
  }
  nav ul li a:hover {
    color: #ff6347;
  }
  .about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 550px;
    padding: 20px;
    background-color: #f0f0f0;
  }
  .about-content {
    display: flex;
    width: 100%;
  }
  .about-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
    text-align: center;
  }
  .about-info h2 {
    font-size: 40px;
    color: #333333;
    margin-bottom: 13px;
    font-family: 'Courier New', monospace;
  }
  .about-info p {
    font-size: 25px;
    color: #666666;
    margin-bottom: 10px;
    font-family: Garamond, serif;
  }
  .about-info .button {
    display: inline-block;
    padding: 15px 25px;
    margin: 10px;
    border: 2px solid #3498db;
    border-radius: 50px;
    background-color: #3498db;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .about-info .button:hover {
    background-color: #ffffff;
    color: #3498db;
  }
  .about-info a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
    transition: color 0.3s ease;
  }
  .about-info a:hover {
    color: #ff6347;
  }
  .about-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-image img {
    max-width: 60%; 
    height: auto;
    border-radius: 50%;
    animation: float 3s ease-in-out infinite;
  }
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  